<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->


    <link rel="stylesheet" th:href="@{layui/css/public.css}" media="all">

    <!-- Bootstrap core CSS -->
    <link th:href="@{datatables/css/datatables.min.css}" rel="stylesheet">
    <link th:href="@{datatables/css/dataTables.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{userDefined/common.css}" rel="stylesheet">

    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{jquery.min.js}"></script>
    <script th:src="@{userDefined/md5.js}"></script>
    <script th:src="@{userDefined/layer.js}"></script>
    <script th:src="@{userDefined/common.js}"></script>
    <script th:src="@{bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{datatables/js/datatables.min.js}"></script>
    <script th:src="@{userDefined/laydate.js}" charset="utf-8"></script>
    <script th:src="@{userDefined/echarts.4.5.0.js}"></script>
    <script th:src="@{layui/layui.js}" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</head>
<body>

<div class="tab-pane fade" id="dataSource">
    <div id="dbSourceform" class="form-inline" style="">
        <div class="form-group">
            应用名称:
            <input type="text" class="form-control" id="dbSourceName" name="dbSourceName"
                   placeholder="请输入数据源">
        </div>
        <button type="button" id="dbSource-btn-search" class="btn btn-info">搜索</button>
        <button style="float: right" class="btn btn-info" data-toggle="modal" name="addModal" id="addModal"
                data-target="#myModal">添加
        </button>
    </div>
</div>

<div>
    <table id="dataSourcetable" class="table table-striped table-bordered table-condensed">

    </table>
</div>


<script type="text/javascript">
    $(function () {
        //初始化表格
        var table = $("#dataSourcetable").DataTable({
            autoWidth: false,  //禁用自动调整列宽
            serverSide: true,  //启用服务器端分页
            ordering: false,
            searching: false,  //禁用原生搜索
            renderer: "bootstrap",  //渲染样式：Bootstrap和jquery-ui
            pagingType: "simple_numbers",  //分页样式：simple,simple_numbers,full,full_numbers
            dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'il><'col-sm-7'p>>",
            ajax: function (data, callback, settings) {
                // ajax请求数据
                sys.ajaxDo({
                    url: "/listJson",
                    success: function (result) {
                        //封装返回数据
                        var returnData = {};
                        returnData.count = result.count;//返回数据全部记录
                        returnData.data = result.data;//返回的数据列表
                        //console.log(returnData);
                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
                    }
                });
            },
            //列表表头字段
            columns: [
                {data: "uuid", title: "uuid", width: "40px"},
                {data: "order_id", title: "用户名", width: "100px"},
                {data: "wechat_mark", title: "url", width: "50px"},
                {data: "qq_no", title: "用户", width: "50px",visible:false},
                {data: "tel", title: "密码", width: "50px"},
                {data: "course_name", title: "数据源名称", width: "40px"},
                {data: "course_price", title: "数据源描述", width: "100px"},
                {data: "order_date", title: "url", width: "50px"},
                {
                    title: "操作",
                    orderable: false,
                    width: "80px",
                    defaultContent: "<button class='btn btn-info btn-xs row-modif' id='confModal' data-toggle='modal' data-target='#myModal'><span class='glyphicon glyphicon-pencil'></span></button> <button class='btn btn-Del btn-danger btn-xs row-delete'><span class='glyphicon glyphicon-trash'></span></button>"
                }
            ],
            language: {
                lengthMenu: "每页 _MENU_ 项",
                zeroRecords: "没有匹配结果",
                info: "显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项",
                infoEmpty: "显示第 0 至 0 项，共 0 项",
                infoFiltered: "(由 _MAX_ 项过滤)",
                search: "搜索:",
                emptyTable: "没有记录",
                paginate: {
                    first: "首页",
                    previous: "上页",
                    next: "下页",
                    last: "末页"
                }
            }
        });

        //查询
        $("#dbSource-btn-search").click(function () {
            $('#dataSourcetable').DataTable().ajax.reload();
        });

        /*编辑操作*/
        $("#dataSourcetable").on("click", ".row-modif", function () {
            //1.获取行的数据
            var editObj = table.row($(this).parents("tr")[0]).data();
            $("#dbSourcename").attr("disabled", "disabled");
            //2.调用方法设置
            sys.setForm("#addfrom", editObj);

            //展示编辑页面
            // editStatue();
        });

        /* 添加数据 */
        $("#btn-save").on("click", function () {
            //表单验证
            if (!sys.checkForm("#addfrom")) {
                return;
            }
            //2.提交数据
            var formData = sys.getForm("#addfrom");
            sys.ajaxDo({
                url: "/add",
                data: formData,
                success: function (res) {
                    //3.提交结果反馈
                    if (res.success) {
                        layer.msg("保存成功");
                        $('#dataSourcetable').DataTable().ajax.reload();
                        $("#myModal").modal('hide');
                    } else {
                        layer.alert(res.msg, {icon: 2});
                    }
                }
            });
        });

        /**删除操作**/
        // $("#dataSourcetable").on("click", ".row-delete", function () {
        //     var $this = $(this);
        //     var $tr = $this.parent().parent().parent();
        //
        //     console.info(table.row($this.parents("tr")[0]).data());
        //     layer.confirm('确定要删除该记录吗？', {
        //         icon: 3,
        //         btn: ['删除', '取消'] //按钮
        //     }, function () {
        //         sys.ajaxDo({
        //             url: "${request.contextPath}/DataManager/deleteDataManger",
        //             data: {dbSourcename: table.row($this.parents("tr")[0]).data().dbSourcename},
        //             success: function (res) {
        //                 if (res.success) {
        //                     $("#dataSourcetable").DataTable().rows($this.parents("tr")[0]).remove().draw(false);
        //                     layer.msg("删除成功");
        //                 }
        //                 else {
        //                     layer.alert(res.msg);
        //                 }
        //             }
        //         });
        //     });
        //
        // });

    });
</script>

</body>
</html>